<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Munny Metch{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <div class="justify-content-center">
      <h1>Hi {{ user.profile.user.username }}!</h1>
      <p>Your munny is currently {{ user.profile.munny }}</p>
      <div class="form-group">
      <form action="{% url 'players:betadd' %}" method="post">
      	{% csrf_token %}
      	<input type="number" name="bet">
      	<input type="submit" value="Bet Add!">
      </form>
    </div>
      <form action="{% url 'players:betminus' %}" method="post">
        {% csrf_token %}
        <input type="number" name="bet">
        <input type="submit" value="Bet Minus!">
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}